@model IEnumerable<ReviewViewModel>

@{
    ViewBag.Title = "Index";
}


<table class="table">


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Commentator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WrittenDate)
        </td>

    </tr>
}

</table>


