@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container-fluid logbackground">
    <h1>@ViewBag.Title.</h1>
    <div class="transperant text-center center-content">   
            <h1>Forgot password</h1>
            <p>A confirmation email has been sent. Please check your email to reset your password.</p>       
   </div>
</div>

