@{
    ViewBag.Title = "Home Page";
}


<div class="background">
    <div class="maincontainer">
        <div class="transperant">
            <div class="text-center">
                <h1>Find your place</h1>
                <p>Pick out your favourite cuisine and check out top-class restaurants.</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="/Home/Search" method="post" >
                        <div class="ui-widget">
                            <div class="responsive searchbar">
                                <label for="city">Find</label>
                                <input id="city" name="city" class="dropdown-toggle" placeholder="place, city">
                                <span>|</span>
                                <label for="cuisine">Kitchen</label>
                                <input id="cuisine" name="cuisine" class="dropdown-toggle" type="text" placeholder="type sushi, french...">
                            </div>
                            <button class="dropdown-toggle buttonGet btnAll" type="submit" value="submit">Find GetEat</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/Scripts/geteat/home.js">
      
    </script>
}
