/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
/*
/*.dl-horizontal dt {
    white-space: normal;*/


/* Set width on the form input elements since they're 100% wide by default */
body {
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
}
html {
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
}

input,
select,
textarea {
    background-color: #fff;
    border: hidden;
    max-width: 430px;
    position: relative;
    color: #808080;
    outline: none;
}
input,
select {
    line-height: 3em;
}
textarea {padding-left:7px;
}

label {
  padding-top:1%;
}
.form-horizontal .form-group {
    margin-right: 5px;
    margin-left: 5px;
}

* {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0px 0px;
}

/*Navigation & Footer*/

ul.nav.navbar-nav {
    padding-top: 1%;
    padding-bottom: 1%;

}

.navbar .navbar-nav > li > a {
    color: #FE9D00;
}

.navbar .navbar-nav > li > a:hover {
        color: #ffffff;
        
}
.navbar .navbar-nav > li > a:active,:focus, a
 {      text-decoration:none;
        outline:none;
}


.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 5px;
    
}

.navbar-nav > li > a:last-child {
    padding-right: 25px;
}
.navbar-brand {
    padding: 0px 10px;
}

.navbar-brand > img {
        height:60%;
        width: 60%;
        padding:10px;
}
.navbar-right {
    float: right !important;
    padding-top: 1%;
    padding-bottom: 1%;
}

footer {
    background-color: #772e05;
    
}

ul.nan.navbar-nav.footer {
    background-color: #772e05;
    
}
.navbar {
    background-color: #772e05;
    margin-bottom: 0px;
}
.footer{
    display: flex;
    justify-content: center;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color:transparent;

}
/*samdwitch icom*/
.navbar-toggle {
    margin-right: 28px;
    margin-top:17px;
    padding:12px;
}
.navbar-inverse .navbar-toggle {
    border-color: #FE9D00;
}
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
        background-color: #FE9D00;
    }

    /*HOME PAGE Main Part*/
    .screen-bgr {
    background-image: url('images/danemark-assiette-viande.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    margin-top:30px;
      
}


.transperant {
    margin-top: 120px;
    height: 360px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.center-content {
    padding: 3.5% 0px;
}

.searchbar-label {
    color: #808080;
    padding: 0 1%;
}

span {
    color:#FE9D00; 
    font-size: 1.5em;
}



.searchbar {
    width: 650px;
    max-width: 90%;
    position: relative;
    background-color: #fff;
    border-radius:10px;
    color: #808080;
    display:inline-block;
   

}


.btnAll:hover, :focus, :active,
.buttonGet:hover, :focus, :active {
    color: #772e05;
    text-decoration: none;
    border-color: none;
    outline: none;
}

.buttonGet {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: hidden;
    padding: 0px 12px;
    position: relative;
    line-height: 3em;
    font-weight: bold;
    color: #fff;
    background-color: #FE9D00;
    float: right;
    padding: 0px 30px;
}
       

.btnAll { float:right;
         color: #fff;
         background-color: #FE9D00;
         font-weight: bold;
         width: 130px;
}
/*AUTOCOMPLETE HOME PG*/
.highlight {
    background-color: #fff;
    list-style-type: none;
    max-width: 200px;
    position: relative;
    color: #080808;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 60px;
    padding-bottom: 15px;
    padding-top:0px;
}
.ui-autocomplete {
    max-height: 200px;
   }
/* IE 6 doesn't support max-heigh */
* html .ui-autocomplete {
    height: 00px;
}



/*LOG IN & REGISTER*/
.logbackground {
    padding: 0;
    width: 100%;
    background-image: url('images/loginprofil.jpg');
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    min-height:1000px;
}
.register-form {
    margin-top:150px;
    padding:20px;
    border-radius:10px;
    background-color: rgba(0,0,0,0.3);
}
.head {color:#fff;
}
span {
    font-size: small;
    /*color: #FE9D00;*/
}

.linksaccount > a {
    color: #FE9D00;
    text-decoration: none;
    text-decoration-line: none;
    font-size:0.9em;
    font-weight: bold;
 
}

.linksaccount > a:hover {
        color:#fff;
        text-decoration: none;
        text-decoration-line: none;
}


/*/*CONTACT*/

.contactbackgr {
    background-image: url('images/contact.png.jpg');
    /*height: 450px;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {background-color: rgba(0,0,0,0.5);
         padding:10px;
         color:#fff;
         margin-top:370px;

}

.contactdetails {
    padding-top:15px;
    background-color: #D6D3DC;
    margin-bottom: 0px;
    height:450px;
}

/*COMPANY PROFILE Details*/

.navbar {border:none;
}

.head-detailes {
    color: #FE9D00;
    text-transform: uppercase;
    font-weight: bold;
}
.anchorstyle > a {
    text-decoration: none;
    background-color:#FE9D00;
    color:#772e05;
    font-weight: bolder;
    padding: 5px 15px;
    border-radius:5px;
}
.anchorstyle>a:hover {
        text-decoration: none;
        color:#fff;
        
}
.button-save {
    background-color: #fff;
    color: #FE9D00;
    font-weight: bolder;
    border-radius: 5px;
    height: 34px;
    padding: 6px 25px;
    font-size: 14px;
    line-height: 1.428571429;
}
  .button-save:hover, .button-back a:hover {
        color: #772e05;
        
    }
.button-back  {
    background-color: #FE9D00;
     height: 34px;
    font-size: 14px;
    line-height: 1.428571429;
    font-weight: bolder;
}
    .button-back a {
        padding: 6px 20px;
        color: #fff;
    }
    
    
    dt, dd, .paragraph {
        padding: 5px 15px;
        color: #fff;
    }
.form-info { padding-bottom:40px;
}
.companibkgr {
    background-image: url('images/hhhhh.jpg');
    padding: 0;
    width: 100%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    min-height: 1000px;
}
change > a {
    color: #FE9D00;
    font-weight: bolder;
    padding: 1%;
}
  
.savebtn { color:#FE9D00;
           font-weight:bolder;
           width:120px;
}
textarea { border-radius:5px;
           width: 100%;
          
}
    textarea[placeholder] {padding-left:15px;
                           color:#080808;
    }
.img-company {
    width: 50px;
    height: 50px;
}
/*INDEX RESTOURANTS LIST*/
/* Global */


img { 
     max-width:100%; 
}

a.restorantList {color:#FE9D00;
                 text-transform:uppercase;
}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  /*IE 8*/ 
    filter: alpha(opacity=50);  /*IE7*/ 
    opacity: 0.5;
    text-decoration: none;
}

 

.col-md-3 {
    width: 240px;
    height: 340px;
    margin: 6px;
}

.caption p {  
    color:#808080;
    text-transform:none;
}
.restorant-details {margin-left:80px;
}
/*POP UP BOX*/
.timepicker, .datepicker, .selectpicker {
    max-width: 360px;
}


.holder-input {
    padding-left: 85px;
}
.modal-footer {text-align:center;
}
.popupBtn {
    background-color: #FE9D00;
    color: #fff;
    font-weight:bold;
    border: 1px solid #e5e5e5;
}

.book:hover, :active, .popupBtn:hover, :active {
    color: gray;
}


 /*RATING STARS*/
.stars {padding:0;
        margin:0;
}

.stars li {display:inline-block;
           list-style-type:none;
           color:white;
           font-size:25px;
           text-shadow:2px 2px 7px gray;
           cursor: pointer;
}
 .stars li:hover { color: #ff0;
                opacity: 1;
                transform: rotateX(0deg);
}
 .stars li.active, .stars li.secondary-active   {color: #ff0;
}

/*PROFIL*/

.book {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #FE9D00;
    text-decoration: none;
    background-color: #FE9D00;
    color: #fff;
    border-radius: 15px;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    border-color: #fff;
}

.loginbtn {
    width: 80%;
    height: 40px;
    line-height: 40px;
    border: 2px solid #FE9D00;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

.comment-box {
    padding: 10px 15px;
    text-align: justify;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin: 15px 0px;
}
    .comment-box > h3, .comment {
        padding-left: 15px;
    }
.map {
        max-width: 100%;
        height: 250px;
}
.wrap { margin-top: 80px;
        margin-bottom:17px;
}


.review {
    max-width: 520px;
    max-height: 430px;
    height:400px;
    background-color: #fff;
    color: #080808;
    padding: 10px;
    font-size: 0.8em;
    margin-right: 8px;
}
.restorant {
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}
.middle {margin:0 auto;
        max-width:300px;
        font-size:0.5em;
}
.info {
    color: #080808;
}
.overview {
    padding-left:3%;
}
.back-btn>a {  color: #FE9D00;
}
/*Part Coment*/
.btn-share {
    border: 1px solid #e5e5e5;
     text-decoration: none;
    background-color: #FE9D00;
    color: #fff;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    position: relative;
    z-index: 10;
    border-color: #fff;
    outline: none;
    margin-bottom: 10px;
}
.btn-share:hover,
:focus, 
:active {
    color:#6284B4;
    text-decoration:none;
    border-color:none;
    outline:none;
}
.list-coments {
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    color:#fff;
}
.user-img {max-height:62px;
           max-width:62px;
}
.user-opinion {
    color:#fff;
    font-size: 0.8em;
    padding-top:5px;
      
}
div.status-upload>div{display:inline-block;
}

.carousel-inner > .item > img {
    width: 100%;
    height: 100%;
  
}
div.submit >div{display:inline-block;
}

@media (max-width: 1024px) {
    div .searchbar {
        max-width: 100%;
        border-radius: 10px;}
    .screen-bgr, .logbackground, .companibkgr {
        min-height: 1300px;
    }
    .buttonGet {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
        position: relative;
        line-height: 3em;
        font-weight: bold;
        margin-left: 0px;
    }
}

@media (max-width: 768x) {

    textarea {
        width: 100%;
        border-radius: 5px;
    }
    .screen-bgr, .logbackground, .companibkgr {
        min-height: 950px;
    }

    th.mobile, td.mobile {
        display: none;
    }
    

    div.searchbar {
        width: 430px;
        max-width: 100%;
        line-height: 3em;
        border-radius: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    .buttonGet {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 430px;
        max-width: 100%;
        position: relative;
        line-height: 3em;
        font-weight: bold;
        margin-left: 0px;
    }

    input,
    select,
    textarea {
        border: hidden;
        max-width: 350px;
        font-size: 12px;
    }

    .searchbar-label {
        padding: 0;
        font-size: 12px;
    }

    div.companibkgr {
        min-height: 1200px;
    }
}

