/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
/*
/*.dl-horizontal dt {
    white-space: normal;*/


/* Set width on the form input elements since they're 100% wide by default */
html {
    overflow-x: hidden;
    margin: 0,auto;
    padding: 0;
}

input,
select,
textarea {
    background-color: #fff;
    border: hidden;
    max-width: 430px;
    position: relative;
    line-height: 3em;
}

.form-horizontal .form-group {
    margin-right: 5px;
    margin-left: 5px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color:lightgray;
}

.row {
    margin: 0px 0px;
}

/*Navigation & footer*/

ul.nav.navbar-nav {
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar-default .navbar-nav > li > a, a {
    color: #FE9D00;
}

.navbar-default .navbar-nav > li > a:hover, a {
        color: #DC8DC9;
        
}
.navbar-default .navbar-nav > li > a:active,:focus, a
 {
        color: #FE9D00;
        text-decoration:none;
        outline:none;
}
.header-nav-link {
    border-bottom: 1px solid;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 5px;
}

.navbar-brand {
    padding: 0px 10px;
}

.navbar-brand > img {
        height: 100%;
        width: 80%;
}
/*navbar::after {clear
}*/
.footer > li {
    padding-left: 20px;
}

/*HOME PAGE Main Part*/
.screen-bgr {
    background-image: url('images/bgroung.png.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    min-height:1200px;
}


.transperant {
    margin-top: 120px;
    height: 440px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.center-content {
    padding: 2% 0px;
}


label {
    padding: 0 1%;
}

span {
    color: #808080;
    font-size: 1.5em;
}

span {
    color: #808080;
    font-size: 1.5em;
}

.searchbar {
    width: 650px;
    max-width: 90%;
    position: relative;
    background-color: #fff;
    border-radius:10px;
    color: #808080;
    display:inline-block;

}



.btnAll:hover,
.buttonGet:hover,
.btnAll:focus, 
.buttonGet:active,
.btnAll:active, 
.buttonGet:focus {
    color: #2E142C;
    background-color: #DC8DC9;
    text-decoration:none;
    border-color:none;
    outline:none;
}

.buttonGet {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: hidden;
    padding:0px 13px;
    position: relative;
    line-height: 3em;
    font-weight: bold;
    color: #fff;
    background-color: #FE9D00;
       
}
.btnAll { float:right;
         color: #fff;
         background-color: #FE9D00;
         font-weight: bold;
         width: 130px;
}

.highlight {
    background-color: #fff;
    list-style-type: none;
    max-width: 160px;
    position: relative;
    color: #080808;
    cursor: pointer;
}

@media (max-width: 1024px) {
div.searchbar {
        max-width: 100%;
        border-radius:10px;
}
.buttonGet {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
        position: relative;
        line-height: 3em;
        font-weight: bold;
        margin-left: 0px;
    }

}
@media (max-width: 768px) {
 
div.searchbar {
        width: 430px;
        max-width: 100%;
        line-height: 3em;
        border-radius:10px;
}
 h1 {
        font-size: 1.5em;
}
.buttonGet {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 430px;
        max-width: 100%;
        position: relative;
        line-height: 3em;
        font-weight: bold;
        margin-left: 0px;
    }
 input,
 select,
 textarea {
        border: hidden;
        max-width: 100%;
        line-height: 3em;
        font-size: 12px;
}

label {
        padding: 0;
        font-size: 12px;
}
}
/*LOG IN & REGISTER*/
.logbackground {
    padding: 0;
    width: 100%;
    background-image: url('images/logprofil.jpg');
    margin: auto;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

span {
    color: #FE9D00;
    font-size: small;
}

.linksaccount > a {
    color: #FE9D00;
    text-decoration: none;
    text-decoration-line: none;
    font-size:1em;
    font-weight: bold;
}

.linksaccount > a:hover {
        color: #DC8DC9;
        text-decoration: none;
        text-decoration-line: none;
}


/*/*CONTACT*/
.contactbackgr {
    /*background-image: url('images/bg.png.jpeg');*/
    background-image: url('images/homePage.jpg');
    height: 400px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {background-color: rgba(0,0,0,0.5);
         padding:10px;
         color:#fff;
         margin-top:320px;

}

.contactdetails {
    background-color: #D6D3DC;
    margin-bottom: 0px;
    height:250px;
}

/*COMPANY PROFILE*/

.dl-horizontal {padding:5px;
}

.profilhead { margin-top:50px;
     
}
.anchorstyle >a {text-decoration:none;
              color:#FE9D00;
              font-weight:bolder;
                 padding-left:25px;
           
}
.anchorstyle>a:hover {
        text-decoration: none;
        color:#D6D3DC;
        
}

.companibkgr {
    background-image: url('images/bgsweet.png.jpg');
    padding: 0;
    width: 100%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.savebtn { color:#FE9D00;
           font-weight:bolder;
           width:120px;
}
textarea {min-width:430px;
          border-radius:5px;
          
}
th > img {width:50px;
          height:50px; 
}

@media (max-width: 768px) {
    div.companibkgr {
        min-height: 1200px;
    }
    .transperant {min-height: 900px;
    }
    textarea {min-width:320px;
              border-radius:5px;
          
}
}

/*INDEX RESTOURANTS LIST*/
/* Global */


img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.5;
    text-decoration: none;
}
a.restorantList {color:#808080;
                
}
a.restorantList:hover, :active, :focus {
                line-height:none;
                cursor:pointer;

}


.thumbnails li {margin-bottom:5px;
                
}
div.reiting >span {color:#808080;
}
.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px;
    
}
ul.thumbnails > div {background-color:#EEE;
}

/* Thumbnail Box */
/*.caption h4 {
    color: #444;
}*/

.caption p {  
    color:#808080;
}


/*/*/* Carousel Control 
/*.control-box {
     width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;*/
}*/*/



/* Mobile Only */
 }
@media (max-width: 767px) {
  
      .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #DC8DC9;; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #DC8DC9;; color: #FFFFFF; }